{% extends 'app/base.html' %}

{% load static %}
{% block title %}AboutUs{% endblock title %}


{% block main-content %}
<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper">
                <h1 class="page-width">About Us</h1>
            </div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="text-center mb-4">
                    <h2 class="h2">Ilaxa Technology Private Limited</h2>
                    <div class="rte-setting">
                        <p><strong>Positive anything is better than negative nothing</strong></p>
                        <p>Ilaxa Technology Private Limited is a well-renowned online
                            store that
                            has continually featured a variety of high-quality
                            and affordable products since day one.
                            Our passion for excellence has driven us from the beginning, and continues to drive us into
                            the future.
                            The team at Ilaxa Technology Private Limited knows that every product counts, and strives to
                            make the entire
                            shopping experience as rewarding and fun as possible. Check out our store and special
                            offers, and get in touch
                            with questions or requests.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                    data-src="{% static 'app/images/about4.jpg'%}" src="{% static 'app/images/about4.jpg'%}"
                    alt="About Us" /></div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                    data-src="{% static 'app/images/about2.jpg'%}" src="{% static 'app/images/about2.jpg'%}"
                    alt="About Us" /></div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                    data-src="{% static 'app/images/about3.jpg'%}" src="{% static 'app/images/about3.jpg'%}"
                    alt="About Us" /></div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Ilaxa __TRust Matter</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci possimus minima cupiditate
                    voluptatibus sapiente ipsa tenetur consequatur illum nostrum. Minima.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, qui suscipit architecto laborum
                    sed unde error explicabo, in soluta eum aut? Quasi alias voluptatibus minima. Deleniti in suscipit
                    cupiditate ut, rem repudiandae neque inventore? Delectus eaque vero quisquam exercitationem
                    laboriosam, eos at magnam eius nam autem provident veniam veritatis consequuntur commodi
                    perspiciatis numquam animi dolores suscipit deleniti! Id pariatur consequatur itaque unde, illum,
                    cum iusto dolorum voluptatibus ex totam placeat tenetur autem quisquam deserunt ratione laboriosam
                    commodi adipisci? Deleniti eaque earum quo repellendus? Possimus, laudantium ipsam. Qui,
                    necessitatibus, voluptatem earum cumque quibusdam libero modi, tempore corrupti atque repellendus
                    quasi provident?</p>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                <h2 class="h2">About ilaxa</h2>
                <div class="rte-setting">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</strong></p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo.</p>
                    <p></p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum fuga.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="h2">Contact Us</h2>
                <ul class="addressFooter">
                    <li><i class="icon anm anm-map-marker-al"></i>
                        <p>New Delhi</p>
                    </li>
                    <li class="phone"><i class="icon anm anm-phone-s"></i>
                        <p>(+91) 9069 752 244</p>
                    </li>
                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                        <p>info@ilaxa.in</p>
                    </li>
                </ul>
                <hr />
                
            </div>
        </div>


    </div>

</div>

{% endblock main-content %}